<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>实时看车用户大数据</title>
    <script src="js/echarts.js"></script>
    <script src="js/china.js"></script>
    <script src="js/jquery.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        #main {
            width: 600px;
            height: 450px;
            margin: 150px auto;
            border: 1px solid #ddd;
        }

        /*默认长宽比0.75*/
        .center {
            margin: auto;
            width: 70%;
        }
    </style>


</head>
<body>
<div>
    <h2 align="center">实时看车用户大数据平台</h2>
</div>
<br>
<hr>
<div id="total" class="center">
    <table class="table table-bordered" bgcolor="#b0e0e6">
        <thead>
        <tr>
            <th>
                时间
            </th>
            <th>
                总人数
            </th>
            <th>
                男性用户数
            </th>
            <th>
                女性用户数
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="datetime"></td>
            <td id="TotalNum"></td>
            <td id="male"></td>
            <td id="female"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<hr>
<div id="map_all" style="width: 1500px;height:600px;" class="center"></div>
<br>
<hr>
<div id="age_bar" style="width: 1500px;height:600px;" class="center"></div>
<br>
<hr>
<div id="time_line" style="width: 1500px;height:600px;" class="center"></div>
<br>
<hr>
<div id="import_pie" style="width: 1500px;height:600px;" class="center"></div>
<br>
<hr>
<div id="covid19_wz" style="width: 1500px;height:600px;" class="center"></div>
</body>

<script type="text/javascript">

    /*--------------------全国统计数据-----------------------------*/
    $(document).ready(function() {
        $.getJSON("http://localhost:8080/uvi/gender", function (data) {
            // alert(JSON.stringify(data.valueMap));
            obj = JSON.parse(JSON.stringify(data.valueMap))
            // alert(JSON.stringify(obj))
            $("#datetime").html(new Date().toString())
            $("#TotalNum").html(obj['男']+obj['女'])
            $("#male").html(obj['男'])
            $("#female").html(obj['女'])
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.error("请求失败: " + textStatus, errorThrown);
            alert(3);
        });});


    /*--------------------全国地图-----------------------------*/
    var dataList=[
        {name: '北京', value: 100},
        {name: '上海', value: randomValue()}
    ]
    function randomValue() {
        return Math.round(Math.random()*1000);
    }
    var myMapChart = echarts.init(document.getElementById('map_all'));
    myMapChart.setOption({
        title: {
            text: '看车用户地图'
        },
        tooltip: {
            formatter:function(params,ticket, callback){
                return params.seriesName+'<br />'+params.name+'：'+params.value
            }
        },
        visualMap: {
            min: 0,
            max: 1500,
            left: 'left',
            top: 'bottom',
            text: ['多','少'],
            inRange: {
                color: ['#ffe5bf', '#ffa372', '#ff7e86','#ee1216','#B22222']
            },
            show:true
        },
        geo: {
            map: 'china',
            roam: true,//不开启缩放和平移
            zoom:1.23,//视角缩放比例
            label: {
                normal: {
                    show: true,
                    fontSize:'10',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal:{
                    borderColor: 'rgba(0, 0, 0, 0.2)'
                },
                emphasis:{
                    areaColor: '#AEEEEE',//鼠标悬停区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series : [
            {
                name: '看车用户',
                type: 'map',
                geoIndex: 0,
                data:dataList

            }
        ]
    });

    myMapChart.on('click', function (params) {
        alert(params.name);
    });

    setTimeout(function () {
        // 异步加载json格式数据
        $.getJSON('http://localhost:8080/uvi/province', function(data) {

            // json转换为数组格式
            const dataArray = Object.entries(data.valueMap).map(([name, value]) => {
                return { name, value };
            });
            myMapChart.setOption({
                series: [{
                    data: dataArray
                }]
            });
        });
    }, 1000)
    /*--------------------年龄分布-----------------------------*/
    var ageBar = echarts.init(document.getElementById('age_bar'));
    $.getJSON("http://localhost:8080/uvi/age", function (data) {
        alert(JSON.stringify(data.valueMap));
        obj = JSON.parse(JSON.stringify(data.valueMap))
        // 定义区间
        const ranges = {
            '20-25': 0,
            '25-30': 0,
            '30-35': 0,
            '35-40': 0,
            '40-45': 0,
            '45+': 0
        };
        // 分组累加
        for (let age in obj) {
            const ageValue = parseInt(age);
            if (ageValue >= 20 && ageValue < 25) {
                ranges['20-25'] += obj[age];
            } else if (ageValue >= 25 && ageValue < 30) {
                ranges['25-30'] += obj[age];
            } else if (ageValue >= 30 && ageValue < 35) {
                ranges['30-35'] += obj[age];
            } else if (ageValue >= 35 && ageValue < 40) {
                ranges['35-40'] += obj[age];
            } else if (ageValue >= 40 && ageValue < 45) {
                ranges['40-45'] += obj[age];
            } else if (ageValue >= 45) {
                ranges['45+'] += obj[age];
            }
        }
        // 生成数据数组
        const seriesData = Object.values(ranges);
        ageBar.setOption({
            title: {
                text: '看车用户年龄分布'
            },
            xAxis: {
                type: 'category',
                data: ['20-25', '25-30', '30-35', '35-40', '40-45', '45+']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'人数',
                    data: seriesData,
                    type: 'bar'
                }
            ]
        })
    })
    /*--------------------时间趋势折线图-----------------------------*/
    var myLineChart = echarts.init(document.getElementById("time_line"));
    myLineChart.setOption({
        title: {
            text: '疫情趋势'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['新增确诊', '累计确诊', '疑似病例', '累计治愈', '累计死亡']
        },
        dataset: {
            // 这里指定了维度名的顺序，从而可以利用默认的维度到坐标轴的映射。
            dimensions: ['dateId', '新增确诊', '累计确诊', '疑似病例', '累计治愈', '累计死亡'],
            source: []
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {type: 'line'},
            {type: 'line'},
            {type: 'line'},
            {type: 'line'},
            {type: 'line'}
        ]
    });


    // var xdata2 = [];//x轴
    // $.getJSON('http://localhost:8080/covid/getCovidTimeData', function (data) {
    //     var arr = data.data
    //     for (var i = 0; i < arr.length; i++) {
    //         xdata2.push(arr[i].dateId)
    //     }
    //     myLineChart.setOption({
    //         dataset: {
    //             source: data.data
    //         },
    //         xAxis: {
    //             data: xdata2
    //         }
    //     })
    // })


    /*--------------------救援物资-----------------------------*/
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('covid19_wz'));
    myChart.setOption({
        title: {
            text: '救援物资'
        },
        legend: {},
        tooltip: {},
        dataset: {
            // 这里指定了维度名的顺序，从而可以利用默认的维度到坐标轴的映射。
            dimensions: ['name', '采购', '下拨', '捐赠', '消耗', '需求', '库存'],
            source: []
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {},
        series: [
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'}
        ]
    });

    // var xdata = [];//x轴
    // setInterval(function () {
    //     $.getJSON("http://localhost:8080/covid/getCovidWz", function (data) {
    //         var arr = data.data
    //         xdata = []
    //         for (var i = 0; i < arr.length; i++) {
    //             xdata.push(arr[i].name)
    //         }
    //         myChart.setOption({
    //             dataset: {
    //                 source: data.data
    //             },
    //             xAxis: {
    //                 data: xdata
    //             }
    //         })
    //     })
    // }, 2000)
</script>
</html>